@font-face {
	font-family: 'cmunbi';
	src: url('/fonts/computer-modern/cmunbi.ttf') format('truetype');
}
@font-face {
	font-family: 'cmunbl';
	src: url('/fonts/computer-modern/cmunbl.ttf') format('truetype');
}
@font-face {
	font-family: 'cmunbmo';
	src: url('/fonts/computer-modern/cmunbmo.ttf') format('truetype');
}
@font-face {
	font-family: 'cmunbmr';
	src: url('/fonts/computer-modern/cmunbmr.ttf') format('truetype');
}
@font-face {
	font-family: 'cmunbso';
	src: url('/fonts/computer-modern/cmunbso.ttf') format('truetype');
}
@font-face {
	font-family: 'cmunbsr';
	src: url('/fonts/computer-modern/cmunbsr.ttf') format('truetype');
}
@font-face {
	font-family: 'cmunbtl';
	src: url('/fonts/computer-modern/cmunbtl.ttf') format('truetype');
}
@font-face {
	font-family: 'cmunbto';
	src: url('/fonts/computer-modern/cmunbto.ttf') format('truetype');
}
@font-face {
	font-family: 'cmunbx';
	src: url('/fonts/computer-modern/cmunbx.ttf') format('truetype');
}
@font-face {
	font-family: 'cmunci';
	src: url('/fonts/computer-modern/cmunci.ttf') format('truetype');
}
@font-face {
	font-family: 'cmunit';
	src: url('/fonts/computer-modern/cmunit.ttf') format('truetype');
}
@font-face {
	font-family: 'cmunobi';
	src: url('/fonts/computer-modern/cmunobi.ttf') format('truetype');
}
@font-face {
	font-family: 'cmunobx';
	src: url('/fonts/computer-modern/cmunobx.ttf') format('truetype');
}
@font-face {
	font-family: 'cmunorm';
	src: url('/fonts/computer-modern/cmunorm.ttf') format('truetype');
}
@font-face {
	font-family: 'cmunoti';
	src: url('/fonts/computer-modern/cmunoti.ttf') format('truetype');
}
@font-face {
	font-family: 'cmunrm';
	src: url('/fonts/computer-modern/cmunrm.ttf') format('truetype');
}
@font-face {
	font-family: 'cmunsi';
	src: url('/fonts/computer-modern/cmunsi.ttf') format('truetype');
}
@font-face {
	font-family: 'cmunsl';
	src: url('/fonts/computer-modern/cmunsl.ttf') format('truetype');
}
@font-face {
	font-family: 'cmunso';
	src: url('/fonts/computer-modern/cmunso.ttf') format('truetype');
}
@font-face {
	font-family: 'cmunss';
	src: url('/fonts/computer-modern/cmunss.ttf') format('truetype');
}
@font-face {
	font-family: 'cmunssdc';
	src: url('/fonts/computer-modern/cmunssdc.ttf') format('truetype');
}
@font-face {
	font-family: 'cmunsx';
	src: url('/fonts/computer-modern/cmunsx.ttf') format('truetype');
}
@font-face {
	font-family: 'cmuntb';
	src: url('/fonts/computer-modern/cmuntb.ttf') format('truetype');
}
@font-face {
	font-family: 'cmunti';
	src: url('/fonts/computer-modern/cmunti.ttf') format('truetype');
}
@font-face {
	font-family: 'cmuntt';
	src: url('/fonts/computer-modern/cmuntt.ttf') format('truetype');
}
@font-face {
	font-family: 'cmuntx';
	src: url('/fonts/computer-modern/cmuntx.ttf') format('truetype');
}
@font-face {
	font-family: 'cmunui';
	src: url('/fonts/computer-modern/cmunui.ttf') format('truetype');
}
@font-face {
	font-family: 'cmunvi';
	src: url('/fonts/computer-modern/cmunvi.ttf') format('truetype');
}
@font-face {
	font-family: 'cmunvt';
	src: url('/fonts/computer-modern/cmunvt.ttf') format('truetype');
}

