html, body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

a, a:visited {
  text-decoration: none;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}
ul, ol {
  list-style: none;
}
body {
  font-family: "Helvetica";
  background: #fff;
}

h1 {
  font-size: 97px;
  font-weight: bold;
  padding: 20px 0 50px 0;
  color: #222;
  text-align: center;
}

a, a:visited {
  color: #222;
  font-size: 20px;
  font-weight: regular;
  letter-spacing: 2px;
}

p, h2 {
  padding: 10px;
  color: #222;
}

p {
}

h2 {
  font-size: 30px;
  font-weight: bold;
}

ul {
  
}

li {
  background: black;
  position: relative;
  width: 12px;
  height: 12px;
  margin-top: 10px;
  border-radius: 12px;
}

li > h3 {
  display: none;
  position: relative;
  right: 160px;
  top: -8px;
  height: 25px;
  width: 150px;
  padding-top: 6px;
  background: black;
  color: white;
  border-radius: 3px;
  text-align: center;
}

li > a { 
  display: none;
  position: relative;
  font-size: 12px;
  font-weight: bold;
  top: -40px;
  padding: 12px;
}

li:hover {
  background: lightgray;
}

li:hover > a {
  display: block;
}

li:hover > h3 {
  display: block;
}

#content {
  position: relative;
  z-index: 4;
  height: 10000px;
}

#parallax-bg1 {
  position: fixed;
  z-index: 1;
  top: 0px;
  height: 1000px;
  width: 100%;
  background: #eee;
}

#parallax-bg2 {
  position: fixed;
  z-index: 2;
  top: 1000px;
  height: 1000px;
  width: 100%;
  background: #bbb;
}

#parallax-bg3 {
  position: fixed;
  z-index: 3;
  top: 2000px;
  height: 1000px;
  width: 100%;
  background: #888;
}

#name {
  position: absolute;
  left: 450px;
  width: 600px;
  top: 200px;
}

#bio {
  position: absolute;
  left: 450px;
  width: 600px;
  top: 1200px;
}

#projects {
  position: absolute;
  left: 450px;
  width: 600px;
  top: 2200px;
}

#about {
  position: absolute;
  left: 450px;
  width: 600px;
  top: 3200px;
}

#sidebar {
  position: fixed;
  right: 15px;
  width: 50px;
  top: 350px;
}

.elvis-1 {
  position: absolute;
  top: 2300px;
  left: 700px;
}

.elvis-2 {
  position: absolute;
  left: 300px;
  top: 1600px;
    height: 3000px;
}

.elvis-3 {
  position: absolute;
  left: 500px;
  top: 700px;
    height: 3000px;
}
