html, body, h1, h2, p {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

a, a:visited {
  text-decoration: none;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

body {
  font-family: "Lucida Grande";
  background: #fff;
}

h1 {
  font-family: "Lucida Grande";
  font-size: 97px;
  font-weight: bold;
  padding: 20px 0 50px 0;
  color: #222;
  text-align: center;
}

a, a:visited {
  color: #222;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
}

a:hover > .sidebar-item {
  background: #f3f3f3;
}

a:hover .github {
/*	border-bottom: 1px solid #222;
	border-right: 1px solid #222;*/
}

a:hover .github + .sidebar-item {
}

p, h2 {
  padding: 10px;
  color: #222;
}

p {
}

h2 {
  font-family: "Lucida Grande";
  font-size: 30px;
  font-weight: bold;
}

.main {
  margin: auto;
  width: 900px;
}

.sidebar {
  float: left;
  margin-top: 20px;
  width: 209px;
}

.sidebar h1, a {
  display: block;
}

.sidebar:last-child {
  border-bottom: 0;
}

.name {
	position: relative;
	margin: 200px;
}

.sidebar-item {
/*  padding: 20px;
*/  background: #fff;
}

.github {
  position: absolute;
  left: 89px;
  top: 0;
  padding: 125px 215px;
  background: transparent;
  text-align: center;
}

.linkedin {
  position: absolute;
  left: 600px;
  top: 0;
  padding: 125px 200px;
  background: transparent;
}

.projects {
  position: absolute;
  left: 89px;
  top: 275px;
padding: 125px 208px;
  background: transparent;
  
}

.blog {
  position: absolute;
  left: 600px;
  top: 275px;
padding: 125px 223px;
  background: transparent;
  text-align: center;
}
