<!doctype html>
<meta charset="utf-8">
<title>{{ page.title }}</title>
{% include head.html %}


<main>
  {% if page.header %}
  <h1>
    {{ page.header }}
  </h1>
  {% endif %}
  
	{{ content }}

  <footer>
  {% include footer.html %}
  </footer>
</main>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-162755471-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-162755471-1');
</script>
